:host {
  line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--agd-headings-font-family, inherit);
  font-weight: var(--agd-headings-font-weight, bold);
}

label {
  cursor: pointer;
}

a {
  color: var(--agd-link-color, var(--agd-color-primary));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
