.loader {
  display: inline-block;
  width: 2.68rem;
  height: 2.68rem;

  border: 6px solid var(--agd-loader-color, var(--agd-color-depth));
  border-bottom-color: var(
    --agd-loader-highlight-color,
    var(--agd-color-primary)
  );
  border-radius: 50%;

  animation: loader-animation 750ms linear infinite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
